@import url('https://fonts.googleapis.com/css2?family=Abel&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Play:wght@400;700&family=Podkova:wght@400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Suranna&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-text: 'Raleway', sans-serif;
  --secondary-text: 'Merriweather', serif;
}

::-webkit-scrollbar-thumb{
  scrollbar-color: red;
}

.primary-text{
  font-family: var(--primary-text);
}

.secondary-text{
  font-family: var(--secondary-text);
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #495956;
}

.links-anim-colour1{
  background-image: linear-gradient(#495956, #495956);
}

.links-anim-colour2{
  background-image: linear-gradient(#7FB6AC, #7FB6AC);
}
.links-anim{
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left bottom  ;
  padding-bottom: 4px;
  transition: 400ms;
  line-height: 20px;
  cursor: pointer;
}

.links-anim:hover{
  background-size: 100% 2px;
}

.scroll-down{
  transform: translate3d(0, -100%, 0);
}

.jump{
  animation: jump 4s infinite;
}

.main::before{
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #506461;
  overflow: hidden;
  z-index: 15;
  animation: staticBackgroundFade 1s forwards 1s;
}

.main::after{
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #495956;
  overflow: hidden;
  z-index: 15;
  animation: swipeRight 1s ease;
}

.anim h1::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: showText .4s ease 1.5s forwards;
}

.anim p:nth-child(2):before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: showText .4s ease 1.75s forwards;
}

.anim p:nth-child(3):before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: showText .4s ease 2s forwards;
}

@keyframes staticBackgroundFade {
  from{
    opacity: 1;
  }  
  to{
    opacity: 0;
    z-index: 0;
  }
}

@keyframes showText{
  0%{
    left: 0;
  }
  100%{
    left: 100%;
    width: 0;
  }
}

@keyframes swipeRight{
  0%{
    left: 0;
  }
  100%{
    left: 100%;
  }
}

@keyframes jump{
  0%{
    bottom: 20px;
  }
  50%{
    bottom: 0px;
  }
  100%{
    bottom: 20px;
  }
}